@charset "UTF-8";

*{
    font-family: sans-serif;
    
}
p{
    text-align: justify;

}
body{
    background-image: linear-gradient(to bottom, #17B9EB,#418296);
    background-attachment: fixed;
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #418296 ;
    
}
h1{  font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 0px #313C40;
    color: #2C3133;
}

h2{
    color:#40616B ;
}

.inicio{
    
    
}

